*
{
    margin:0;
    padding: 0;
}
.head
{
    width: 100%;
    height: auto;
    padding:10px 0;
    /* background-image: url(../images/back.jpg);
    background-size: cover;
    background-repeat: no-repeat; */
    /* background-image: url("../images/cool.jpg");
    background-size: contain;
    background-repeat: repeat-y; */
    /* background: linear-gradient(to right, #D94032, #D9AB82, #E880AC, #7CE8D5, #CEFF88); */
    /* background-color: #333;FA596D 87C1C2; */
    background: linear-gradient(to right, #f43b47, #453a94);
    /* #a6c0fe→#f68084
    #f43b47 →#453a94 */
}

.navbar{
    background-color: #fffa;
    position: absolute;
    z-index: 999;
    transition:background 0.6s linear;
    /* color:red; */
}

.dropdown-content {
  /* background-color: #fff; */
  margin: 0;
  display: none;
  min-width: 300px;
  max-height: auto;
	margin-left: -1px;
  overflow: hidden;
  opacity: 0;
  position: absolute;
  white-space: nowrap;
  z-index: 1;
  will-change: width, height;
}

ul.dropdown-content>li{
  font-size: 30px;
}

footer
{
    /* background-image: url('../images/cool.jpg');
    background-size: contain; */
    background: linear-gradient(to right, #f43b47, #453a94);
}

#map{
  height:200px;
}

.footer-column{
  display:flex;
  height: 200px;
  flex-direction:column;
  justify-content: space-around;
  align-items: center;
}

.footer-icons{
  margin-top: 10px;
  display:flex;
  flex-direction:row;
  justify-content: space-around;
  align-items: center;
  /* font-size: 30px; */
}

.page-footer .row div ul li a{
  font-size: 15px;
}
