*
{
    margin:0;
    padding: 0;
}
.head
{
    width: 100%;
    height: auto;
    padding:10px 0;
    background: -webkit-gradient(linear, left top, right top, from(#f43b47), to(#453a94));
    background: -webkit-linear-gradient(left, #f43b47, #453a94);
    background: -o-linear-gradient(left, #f43b47, #453a94);
    background: linear-gradient(to right, #f43b47, #453a94);
}

.navbar{
    background: rgba(255,255,255,0.7);
    position: absolute;
    z-index: 999;
}

.nav-fixed{
  position: fixed;
  top: 0;
}

.dropdown-content {
  margin: 0;
  display: none;
  min-width: 300px;
  max-height: auto;
	margin-left: -1px;
  overflow: hidden;
  opacity: 0;
  position: absolute;
  white-space: nowrap;
  z-index: 1;
  will-change: width, height;
}

ul.dropdown-content>li{
  font-size: 30px;
}

footer
{
    background: -webkit-gradient(linear, left top, right top, from(#f43b47), to(#453a94));
    background: -webkit-linear-gradient(left, #f43b47, #453a94);
    background: -o-linear-gradient(left, #f43b47, #453a94);
    background: linear-gradient(to right, #f43b47, #453a94);
}

#map{
  height:200px;
}

.footer-column{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  height: 200px;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
      -ms-flex-direction:column;
          flex-direction:column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-icons{
  margin-top: 10px;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:horizontal;
  -webkit-box-direction:normal;
      -ms-flex-direction:row;
          flex-direction:row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-footer .row div ul li a{
  font-size: 15px;
}
