html{
    font-size:62.5%;
}
*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-weight: 100;
}
.nit-logo-small{
    width:15rem;
}
.clip_back{
    
    width:100%;
    background-image:linear-gradient(to right bottom,rgb(240, 40, 40), rgb(150, 4, 36));
    clip-path: polygon(0 0, 100% 0, 100% 80%,0 95%);

    .slide-info{
        position: relative;
        top:-9rem;
        background-color:transparent!important;
        box-shadow:none!important;
        font-size:3rem;
        margin-bottom:1rem!important;
        
    }
    .slide-more{
        font-size:3rem;
        i{
            font-size:5rem;
        }
    }
    
}
.pad{
    padding:0!important;
}
.par{
    z-index:-5;
    position: relative;
    top:-25rem;
    .parallax-container{
        height: 100vh;
        img{
            height:150%;
        }
    }
    
}
.events{
    margin-top:-40rem;
    background-image:linear-gradient(to right bottom,rgb(240, 40, 40), rgb(150, 4, 36));
    padding:30rem 0 30rem 0 !important;
    clip-path:polygon(0 10%, 100% 0, 100% 85%, 0 95%);
    
    .info-panel{
        &-top{
            position: relative;
            top:-3rem;
            font-size:5rem;
            h1{
                margin:0px;
                font-weight: 200;
                letter-spacing: .5rem;
            }
        }
        &-bottom{
            position: relative;
            top:1.5rem;
            margin-bottom:1rem;
            h1{
                margin:0px;
                font-weight: 200;
                letter-spacing: .5rem;
            }
        }
        
    }
    &_col{
        padding:2rem!important;
    }
    &_tile{
        height:auto;
        background-color:rgba(255,255,255,0.6);
        box-shadow: 0px 1.5rem 2rem rgba(0,0,0,.15);
        transition:all 0.3s ease;
        img{
            height:35rem;
        }
        .date{
            font-size:2rem;
            font-weight: 400;
           top:85%;
           width:10rem;
           height:10rem;
            
        }
        .more{
            font-size:2rem;
            color:orangered;
        }
        &:hover{
            box-shadow: 0px 3rem 4rem rgba(0,0,0,.3);
            background-color:rgba(255,255,255,1);
            transform: translateY(-1rem);
        }
        
    }
    
}
.notifications{
    position: relative;
    .main-head{
        font-size:5rem;
        font-weight: 200;
        letter-spacing: .8rem;
        padding:.5rem;
        position: absolute;
        display: inline-block;
        border:1rem double rgba(0, 0, 0, 0.2);
        top:-10rem;
        left:50%;
        transform: translateX(-50%);
        
    }
    .row{
        height:100%;
    }
    &_student{
        padding:2rem!important;
        
    }
    &_tenders{
        padding:2rem!important;
    }
    .card{
        padding-top:1rem!important;
        margin-bottom:0px;
        background-image:linear-gradient(to right bottom,rgb(240, 40, 40), rgb(150, 4, 36));
        h1{
            font-size:3rem;
            font-weight: 200;
            letter-spacing: .5rem;
            color:white;
            text-shadow:0 1rem 1.5rem rgba(0,0,0,.8);
        }
    }
    
    .notif{
        height:100%!important;
    }
    
}
.clubs{
    background-image:linear-gradient(to right bottom,rgb(240, 40, 40), rgb(150, 4, 36));
    padding:30rem 0 30rem 0 !important;
    position: relative;
    
    clip-path:polygon(0 0, 100% 10%, 100% 100%, 0 90%);
    margin-top:10rem;
    .club-banner{
        position: absolute;
        left:2rem;
        top:10%;
        width:38%;
        color:white;
        h1{
            font-size:5rem;
            font-weight: 200;
            letter-spacing: .5rem;
            text-shadow:0 1rem 1.5rem rgba(0,0,0,.8);
        }
        p{
            font-size:2.5rem;
        }
    }
    ul.club_contain{
        position: absolute;
        top:70%;
        left:60%;
        transform: translate(-50%,-50%);
        height:100%;
        li{
            span.title{
                position: absolute;
                right:3px;
                top:80%;
                color:white;
                font-weight: 700;
                font-size:2.5rem;
                text-shadow:0px .5rem 1.5rem rgba(0,0,0,.7);
                
            }
            list-style-type: none;
            height:auto;
            width:30rem;
            position: absolute;
            box-shadow:0px 1rem 1.5rem rgba(0,0,0,.55);
            background-color:white;
            transition: all 0.5s;
            &:nth-child(1){
                transform: rotate(15deg) skew(-30deg) translate(4.5rem,4.5rem);
                
            }
            &:nth-child(2){
                transform: rotate(15deg) skew(-30deg) translate(3rem,3rem);
                
            }
            &:nth-child(3){
                transform: rotate(15deg) skew(-30deg) translate(1.5rem,1.5rem);
                
            }
            &:nth-child(4){
                transform: rotate(15deg) skew(-30deg) translate(0rem,0rem);
                
            }
            &:nth-child(5){
                transform: rotate(15deg) skew(-30deg) translate(-1.5rem,-1.5rem);
                
            }
        }
        &:hover{
            li{
                &:nth-child(1){
                    transform: rotate(5deg) skew(0deg) translate(65%,10px);
                    
                }
                &:nth-child(2){
                    transform: rotate(3deg) skew(0deg) translate(0%,0px);
                    
                }
                &:nth-child(3){
                    transform: rotate(0deg) skew(0deg) translate(-55%,0px);
                    
                }
                &:nth-child(4){
                    transform: rotate(-3deg) skew(0deg) translate(-110%,0px);
                    
                }
                &:nth-child(5){
                    transform: rotate(-5deg) skew(0deg) translate(-165%,0px);
                    
                }
            }
            
        }
        
    }
    
}
.gallery{
    .row{
        margin-top:-10rem;
        background-image: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.4)), url(../images/bookback.jpg) ;
        
    }
    cursor:pointer!important;
    &_view{
        padding:5rem 0;
        height:40rem;
       a.gallery_close{
           position: absolute;
           top:50%;
           left:50%;
           transform: translate(-50%,-50%);
           font-size:2rem;
           background-color:rgb(240, 40, 40);
           letter-spacing:3px;
           outline-offset:2rem;
           transition:all 0.3s;
           height:auto;
           &:hover{
            outline:2rem solid white;
           }
       }
       .carousel{
        position: absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
       }
    }
}
/*@media screen and (max-width:770px)
{
    html{
        font-size:45%;
    }
    .events{
        margin-top:
    }
}*/
@media screen and (max-width:770px){
    html{
        font-size:40%;
    }
    .events{
        margin-top:-65vh;
        .card-title{
            font-size:2.5rem;
        }
    }
    .notifications{
       
        &_student{
            .card{
                height:50vh;
            }
        }
        &_tenders{
            .card{
                height:47.2vh;
            }
        }
        .tabs-content{
            height:240px!important;
        }
        
    }
    .clubs{
        height:80vh;
        ul.club_contain{
            left:47%;
            li{
                width:20rem;
            }
            span{
                font-size:2rem;
            }
        }
        .club-banner{
            margin-top:5rem;
            width:80%;
            top:50%;
        }
    }

}


